@font-face {
  font-family: 'Himalaya';
  src: url('../fonts/Himalaya-Regular.ttf');
}

.headerContainer {
  background: url('../images/blank.png');
  background-size: 100%;
  background-position: bottom;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header h1 {
  font-family: 'Himalaya', serif;
}

.header img {
  width: 10%;
  height: 10%;
  padding: 0;
  margin: 0;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #07989d;
  padding: 0;
  margin: 0;
}

.headerNav li {
  color: #07989d;
  border: 1px solid;
  margin: 0;
  padding: 0;
}

.headerNav li a {
  color: #07989d;
}
