main {
  display: grid;
}

.image {
  width: 100%;
  height: 100%;
  display: grid;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 2rem;
  padding: 4rem;
}
